html{
    position: relative;
}

* {
    font-family: Open Sans, 'Times New Roman', Times, serif;
}

body {
    position: relative;
    padding: 0px;
    margin: 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    background-image: url(./images/IN-en-20251117-TRIFECTA-perspective_2fe4e381-977f-49fd-a7f4-1da0bcf09429_large.jpg);
    height: 700px;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    justify-content: end;
    flex-direction: column;
    justify-content: center;
    min-height: 700px;
}

.dark-box {
    height: 700px;
    width: 100%;
    background-color: black;
    opacity: 75%;
    position: absolute;
    left: 0%;
    top: 0%;
    min-height: 700px;
}

.main-footer {
    color: white;
    width: 100vw;
    height: 15vh;
    padding-left: 20%;
    font-size: 28px;
    font-weight: 600;
    text-align: justify;
}

.flex {
    display: flex;
}


.navbar {
    position: absolute;
    top: 0%;
    height: 50px;
    width: 80vw;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.netflix-logo {
    width: 150px;
}

.nav-buttons>button {
    border-radius: 5px;
}

.nav-buttons {
    width: 200px;
    gap: 15px;
    display: flex;
    align-items: center;
}

#signin-button {
    background-color: red;
    color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-style: none;
    width: 80px;
    height: 34px;
    font-size: 14px;
    font-weight: 700;
    box-sizing: border-box;
}
#signin-button:hover{
    background-color: rgb(167, 15, 23);
}

#signin-button:active{
    background-color: rgb(152, 14, 21);
    color: #c5bebe;
    transform: scale(1);
}

#english-button {
    background-color: transparent;
    color: white;
    width: 120px;
    height: 34px;
    border: 1px solid rgb(88, 88, 88);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#english-button>img {
    width: 20px;
}

.main-content-container {
    position: absolute;
    top: 25%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.main-content {
    text-align: center;
    color: white;
    box-shadow: 10%;
    /* width: 800px; */
}

.main-content>div>h1 {
    font-size: 55px;
    font-weight: 1000;
    width: 720px;
    text-wrap: pretty;
}

.main-content>div>h4 {
    font-size: 20px;
}

.main-content>div>p {
    font-size: 16px;
}

.email-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.email-input-container>input {
    width: 400px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    border: 1px rgb(77, 77, 77) solid;
    border-radius: 6px;
    padding: 0px 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.email-input-container>button {
    width: 200px;
    height: 55px;
    background-color: red;
    color: white;
    border-radius: 6px;
    padding: 0px 10px;
    font-size: 26px;
    box-sizing: content-box;
    font-weight: 600;
}

.second-main-container{
    width: 80vw;
    height: 400px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    mask-image: -moz-linear-gradient();
}


#trending-text{
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.trending-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
    /* overflow:hidden; */
    animation: horizontal-scroll 60s linear infinite;
}
.image-container{
    flex-shrink: 0;
    height: 276px;
    width: 196px;
    /* border: 1px solid white; */
    border-radius:3px;
}

.image-container img{
    border-radius: 5px;
}

.more-reason-to-join{
    width: 80vw;
    height: auto;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* align-items: center;
    justify-content: space-around; */
    gap: 15px;
}

.container{
    width: auto;
    height: 280px;
    /* border: 1px solid white; */
    border-radius:18px;
    color: white;
    padding:0px 20px;
    background-image: linear-gradient(to left top, #210e17, #220f1b, #22111f, #221223, #211427, #21152b, #20172f, #1e1933, #1e1b37, #1d1d3c, #1b1f40, #192145);
}

#container-text{
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.container>h3{
    font-size: 24px;
    font-weight: 500;
}

.container>p{
    font-size: 16px;
    font-weight: 400;
}

.faq-container{
    width: 80vw;
    height: 600px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#faq-text{
    color: white;
    font-size: 24px;
    font-weight: 500;
}
.questions-container{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    gap: 8px;
}

.questions{
    color: white;
    height: 80px;
    width: 100%;
    /* border: 1px white solid; */
    background-color: #2D2D2D;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.questions:hover{
    background-color: #565555;
}

footer{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.links-section{
    margin-top: 80px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #969496;
    gap: 30px;
}

.links-grid{
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* border: 1px solid white; */
}

.links-container{
    height: 50px;
    /* border: 1px solid white; */
}

a:link{
    color: #969496;
}

a:visited {
    color: #969496;
  }

.extras{
    width: 100%;
    color: #969496;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
}
.extras>button{
    margin-bottom: 20px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(167, 15, 23);
}

button:active{
    background-color: rgb(152, 14, 21);
    color: #c5bebe;
    transform: scale(1);
}

button{
    border: none;
}

@media only screen and (max-width: 1280px){
    .box-container{
        grid-template-columns: 1fr 1fr;
    }

    .main-content>h1{
        font-size: 40px;
        font-weight: 700;
    }

    .main-content>h4{
        font-size: 16px;
    }

    .email-input-container>input{
        width:350px;
        height:45px;
    }

    .email-input-container>button{
        width:140px;
        height:45px;
        font-size: 16px;
    }

    .navbar{
        width: 90vw;
    }
}

@keyframes horizontal-scroll{
    0%{transform: translateX(0%);}
    100%{transform: translateX(-591.5%);}
}